{% extends 'base.html' %} {% block title %} Home page {% endblock %} {% block
body %}
<h2>Welcome to Home page!</h2>
<h3>Shorten your URL here.</h3>

{% for message in get_flashed_messages() %}
<h3>{{ message }}</h3>
{% endfor %}

<form action="/your-url" method="post">
  <label for="URL">Your URL:</label>
  <input type="url" name="URL" value="" required />
  <br />
  <label for="short_name">Short Name:</label>
  <input type="text" name="short_name" value="" required />
  <br />
  <input type="submit" value="Shorten" />
</form>

<form action="/your-url" method="post" enctype="multipart/form-data">
  <label for="file">Upload File:</label>
  <input type="file" name="file" value="" required />
  <br />
  <label for="short_name">Short Name:</label>
  <input type="text" name="short_name" value="" required />
  <br />
  <input type="submit" value="Shorten" />
</form>

{% if codes %}
<h2>Codes already created.</h2>
<ul>
  {% for code in codes %}
  <a href="{{ url_for('redirect_to_url', short_name=code) }}">
    <li>{{ code }}</li>
  </a>
  {% endfor %}
</ul>
{% endif %} {% endblock %}
